{# src/Oxygen/BlogBundle/Resources/views/Comment/form.html.twig #}

<form action="{{ path('OxygenBlogBundle_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" {{ form_enctype(form) }} class="oxygen">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>