{% extends 'OxygenBlogBundle::layout.html.twig' %}

{% block title %}New Blog{% endblock%}

{% block body %}
    <h1>Add a new blog post.</h1>
    {% include 'OxygenBlogBundle:Blog:form.html.twig' with { 'form': form, 'route_action': path('OxygenBlogBundle_blog_create') } %}
{% endblock %}
