{# src/Blogger/BlogBundle/Resources/views/Comment/form.html.twig #}

<form action="{{ route_action }}" method="post" {{ form_enctype(form) }} class="blogger">  
    {{ form_widget(form)|replace({'-':' '})|raw }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>